@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(var(--color-background-0, 255 255 255));
  color: rgb(var(--color-typography-950, 23 23 23));
  font-family: var(--font-geist-sans), sans-serif;
  margin: 0;
}

html,
body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}
